.App {
  background: linear-gradient(rgb(218, 255, 255), rgb(251, 255, 195));
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

